<!-- CHANGE PWORD MODAL -->

<section class="modal--show" id="change-pword" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-inner">
    <div class="modal-content">
      <form action="/user/changepassword" method="POST">
        <div class="modal-title">Change Password<a href="#" data-dismiss="modal" class="close-btn">&times;</a></div>
        <div class="label">Current Password</div>
        <input name="oldPassword" type="password" title="This is your current password." maxlength="512" required>
        <div class="label">New Password</div>
        <input id="password" name="newPassword" type="password" pattern=".{5,}" title="This is the new password you want for your account." maxlength="512" required>
        <div class="label">Confirm Password</div>
        <input id="confirmPassword" name="confirmPassword" type="password" pattern=".{5,}" title="Please retype the new password that you input above; this must be at least 5 characters" maxlength="512" required>
        <button type="submit"><div>Change<span class="glyphicon glyphicon-ok-circle"></span></div></button>
      </form>
    </div>
  </div>
  <a href="#!" class="modal-close" title="Close this modal" data-close="Close" data-dismiss="modal">?</a>
</section>
