<!-- CHANGE PWORD MODAL -->

<div class="modal fade" id="change-pword" role="dialog">
    <div class ="modal-dialog">
        <div class ="modal-content">
            <div class="bodyView">
                <div class="text">
                    <p>Change your password</p>
                </div>
                <form action="/user/changepassword" method="POST">
                    <div class="inputFields">
                        <input name="oldPassword" type="password" maxlength="512" placeholder=" Old Password" required autocapitalize="off">
                        <input id="password" name="newPassword" type="password" maxlength="512" pattern=".{6,15}" title="please enter a password between 6-15 characters" placeholder=" New Password" required autocapitalize="off" onkeyup="checkPass(); return false;">
                        <input id="password2" name="confirmPassword" type="password" maxlength="512" placeholder=" Confirm password" required autocapitalize="off" onkeyup="checkPass(); return false;">
                    </div>

                    <div class="buttons">
                      <button class="clickable" type="submit" style="margin-left: 7.8em;">Change</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
