<!-- HEADER -->
<div class="container-fluid header">
  <h1><a href="/">dynamicstory</a></h1>
  <i class="ion-drag"></i>
  <div class="banner">
    <div>Tuesday,&nbsp;July&nbsp;25&nbsp;&nbsp;2015</div>
    <span><!--
   -->{% if username %}<!--
     --><span><!--
       --><a href="/story/create">Create</a>&nbsp;|&nbsp;<a href="/user/profile">Profile</a>&nbsp;|&nbsp;<!--
       --><form action="/user/logout" method="POST"><button>Logout</button></form><!--
     --></span><!--
   -->{% else %}<!--
     --><span><!--
       --><a href="/user/login">Login</a>&nbsp;|&nbsp;<a href="/user/signup">Signup</a>&nbsp;&nbsp;<!--
     --></span><!--
   -->{% endif %}
    </span>
    <div id="menu">
      {% if username %}
      <a href="/story/create"><div>Create</div></a>
      <div></div>
      <a href="/user/profile"><div>Profile</div></a>
      <div></div>
      <form action="/user/logout" method="POST"><button>Logout</button></form>
      {% else %}
      <a href="/user/login"><div>Login</div></a>
      <div></div>
      <a href="/user/signup"><div>Signup</div></a>
      {% endif %}
    </div>
  </div>
</div>
{% block script %}
  <script src="/js/menu.js"></script>
{% endblock %}
