<!-- HEADER -->

<nav class="navbar navbar-inverse">
<div class="container-fluid">
  <a class="navbar-left" href="/"><img class="navbar navbar-brand" src="/img/logo.png"/></a>
  <div class="pull-right">
    <ul class="nav navbar-nav">
      {% if username %}
      <li {% if page == "create.html" %}class="active"{% endif %}>
        <a href="/story/create"><span class="margin-right-space glyphicon glyphicon-edit"></span>Create</a>
      </li>
      <li {% if page == "profile.html" %}class="active"{% endif %}>
        <a href="/user/profile"><span class="margin-right-space glyphicon glyphicon-user"></span>Profile</a>
      </li>
      <li>
        <form action="/user/logout" method="POST">
          <button class="transparent-btn" id="logout-btn"><span class="margin-right-space glyphicon glyphicon-log-out"></span>Logout</button>
        </form>
      </li>
      {% else %}
      <li {% if page == "user/login.html" %}class="active"{% endif %}>
        <a href="/user/login"><span class="margin-right-space glyphicon glyphicon-log-in"></span>Login</a>
      </li>
      <li {% if page == "user/signup.html" %}class="active"{% endif %}>
        <a href="/user/signup"><span class="margin-right-space glyphicon glyphicon-new-window"></span>Signup</a>
      </li>
      {% endif %}
      <li {% if page == "about.html" %}class="active"{% endif %}>
        <a href="/about"><span class="glyphicon glyphicon-info-sign"></span></a>
      </li>
    </ul>
  </div>
</div>
    <!-- insert logic to see if user is logged in -->
</nav>
