body {
	background-color:#D3D5DA;
}

button{
	background-color:white;
	color:#316029;
}


/*navigation bar*/

textarea{
	resize:none;
}

.header {
	height:5em;
	width:100%;
	background-color:#42693C;
	padding:1em;
	//position: absolute;
}


.logoIcon{
	height:3em;
	float:left;
}


.logoIcon img{
	margin-top:.3em;
height:80%;
}

.navigationIcons {
	height:1.5em;
	float:right;
}

.navigationIcons img {
	height:100%;
	margin:.5em;
}



/*Clickables*/


.clickable{
		border-radius:0em .5em .5em .5em;
		border:none;

}
.clickable:hover{
	background-color:#95a5a6;
	color:white;
}

/*Admin-input*/

.admin-input {
	border-radius:1em;
	background-color: #E5E5E5;
}

/*Key Point*/

.keyPoint {
	font-size:1.2em;
	background-color:#f3f3f3;
	text-align:center;
	border-radius:.7em;
}
