{% extends "base.html" %}

{% block page %}
<div class="aboutView">
    <div class="section">
     <div class="keyPoint">About Us</div>
      <div class="content">
       DynamicStory is a website created by a handful of student. The majority of us study at De Anza College. We created this website because we were tired of seeing people struggling to get their point across. Our founding team came together in January of 2015. Since them we have met twice a week so we can bring this website to you.
      </div>
    </div>
    <div class="section">
       <div class="keyPoint">Legal</div>
       <div class="content">
         <a href="/about/toupp">Terms of Use & Privacy Policy</a>
         <br>
         <a href="/about/dmca">DMCA policy</a>
        </div>
    </div>
</div>
{% endblock %}

