{% extends "base.html" %}

{% block page %}

<div class="aboutView">
    <div class="section shadow">
     <div class="keyPoint-inside"><h2>About Us</h2></div>
      <div class="content">
       <p class="general-info">DynamicStory is a website created by a handful of student. Development began January of 2015</p>
       <p class="general-info">We created this website because we believe it is more effective way for people to share their opinions than on other blogs or social media sites.</p>
       <p class="general-info">We saw how limiting other website were. They limited users with a like button, or a simple up and down arrows. They gathered all kinds of personal information on users and decided not to share it the analysis with the community.  They limited our reach because we werent popular enough.  DynamicStory works everyday to empower our users.</p>
       <iframe class="video" width="200" height="150" src="https://www.youtube.com/embed/9-4V3HR696k" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
<!-- <div class="section team shadow">
      <div class="keyPoint-inside portrait-section"><h3>Meet the Team</h3></div>
      <div class="founders col-lg-3 col-sm-6 col-xs-12">
       <div class="bio ">
        <div class="portait-container"><img class="portrait" src="/img/Alex.jpg"></div>
        <div class="bio-info"> Alexander McNulty, founder and project manager of DynamicStory.
        </div>
        </div>
        </div>
      <div class="founders col-lg-3 col-sm-6 col-xs-12">
       <div class="bio ">
        <div class="portait-container"><img class="portrait" src="/img/Paul.jpg"></div>
        <div class="bio-info"> Paul Merrill, lead developer and product guy.
        </div>
        </div>
        </div>
      <div class="founders col-lg-3 col-sm-6 col-xs-12">
       <div class="bio ">
        <div class="portait-container"><img class="portrait" src="/img/Chris.jpg"></div>
        <div class="bio-info"> Christopher Banh, MVD (Most Valuable Developer).
        </div>
       </div>
      </div>
      <div class="founders col-lg-3 col-sm-6 col-xs-12">
       <div class="bio ">
        <div class="portait-container"><img class="portrait" src="/img/Brandon.jpg"></div>
        <div class="bio-info"> Brandon Chai, frontend developer and most improved.
        </div>
        </div>
        </div><div><p class="div-trick">hehehehhheheheheheheehe</p></div>
    </div>
-->    <div class="section shadow">
       <div class="keyPoint-inside"><h3>Legal</h3></div>
       <div class="content">
         <a href="/about/toupp">Terms of Use &amp; Privacy Policy</a>
         <br>
         <a href="/about/dmca">DMCA policy</a>
        </div>
    </div>
    <div class="section gap shadow">
       <div class="keyPoint-inside"><h3>Contact Us</h3></div>
        <div class="content">
          <p>Questions, Comments, Concerns?</br>Please share your thoughts with us.</p>
          <textarea class="field body" name="body" placeholder=" Body"></textarea>
          <button class="finish clickable shadow">Send feedback!</button>
        </div>
    </div>
</div>
{% endblock %}

