<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>{% if title %}{{ title }} :: {% endif %}Dynamic Story</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="DynamicStory.org is a database for,  sharing you opinion with the world." />

    <link rel="stylesheet" type="text/css" href="../pub/libraries/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../pub/style.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="icon" href="../pub/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../pub/images/favicon.ico" type="image/x-icon">
</head>

<body>

{% include "partials/header.html" %}

{% block page %}
{% endblock %}


<script type="text/javascript" src="../pub/libraries/jquery-1.11.1.js"></script>
<script type="text/javascript" type="text/javascript" src="../pub/libraries/bootstrap.min.js"></script>
<script src="../pub/js/script.js"></script>
</body>


