<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>{% if title %}{{ title }} :: {% endif %}Dynamic Story</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="DynamicStory.org is a database for,  sharing you opinion with the world." />

    <link rel="stylesheet" type="text/css" href="/lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
</head>

<body>

{% include "partials/header.html" %}
{% include "partials/error.html" %}

{% block page %}
{% endblock %}


<script type="text/javascript" src="/lib/jquery-1.11.1.js"></script>
<script type="text/javascript" type="text/javascript" src="/lib/bootstrap.min.js"></script>
<script src="/js/script.js"></script>
</body>
