<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if story.title %}{{ story.title }} :: {% endif %}Dynamic Story</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="DynamicStory.org is a database for,  sharing you opinion with the world." />
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
{% block style %}
{% endblock %}
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
</head>
<body>

{% block noheader %}
  {% include "partials/header.html" %}
{% endblock %}

{% include "partials/flashmessage.html" %}
{% include "partials/flasherror.html" %}

{% block page %}
{% endblock %}

<script src="/lib/d3.v3.min.js"></script>

{% block script %}
{% endblock %}
</body>
