<!-- CHANGE PASSWORD -->

{% extends "base.html" %}

{% block page %}
<div class="container-fluid form change-pass-form">
  <h1>Change Your Password</h1>
  <h5>Please complete the following form.</h5>
  <form action="/user/changepassword" method="POST">
    <input name="oldPassword" type="password" title="This is your current password." maxlength="512" required placeholder="Current Password">
    <input id="password" name="newPassword" type="password" pattern=".{5,}" title="This is the new password you want for your account." maxlength="512" required placeholder="New Password">
    <input id="confirmPassword" name="confirmPassword" type="password" pattern=".{5,}" title="Please retype the new password that you input above; this must be at least 5 characters" maxlength="512" required placeholder="Confirm New Password">
    <button><span>CHANGE</span><i class="ion-ios-arrow-thin-right"></i></button>
  </form>
</div>
{% endblock %}



