{% extends "base.html" %}

{% block page %}
<div class="container">
  <form action="/story/create" method="POST">
    <div class="jumbotron form-group container-fluid">
      <h1>Create a Dynamic Story</h1>
    </div>
    <div class="jumbotron form-group">
      <h2> Narrative </h2>
      <label class="control-label">Title:</label>
      <input class="form-control" name="title" placeholder="Title" pattern="^.{10,140}$" title="please enter a title between 10 &amp; 140 characters" required>
      <br>
      <label class="control-label">Narrative:</label>
      <textarea  class="form-control tall" name="narrative" placeholder="Narrative" pattern="^.{50,100000}$" title="please enter a narrative between 50 &amp; 100,000 characters" required></textarea>
    </div>
    <div class="jumbotron form-group">
      <h2> Survey Question </h2>
      <br>
      <div class="form-group">
        <label class="control-label col-sm-2">Question:</label>
        <div class="col-sm-10" id="question">
          <input class="form-control" name="question" placeholder="Question" pattern="^.{5,140}$" title="please enter a question between 5 &amp; 100 characters" required>
        </div>
      </div>
      <div class="input-group">
        <span class="input-group-addon">A</span>
        <input class="form-control" name="answer0" placeholder="Strongly Disagree" pattern="^.{1,100}$" title="please enter an option between 1 &amp; 100 characters" required>
      </div>
      <div class="input-group">
        <span class="input-group-addon">B</span>
        <input class="form-control" name="answer1" placeholder="Strongly Disagree" pattern="^.{1,100}$" title="please enter an option between 1 &amp; 100 characters" required>
      </div>
      <div class="input-group">
        <span class="input-group-addon">C</span>
        <input class="form-control" name="answer2" placeholder="Strongly Disagree" pattern="^.{1,100}$" title="please enter an option between 1 &amp; 100 characters" required>
      </div>
      <div class="input-group">
        <span class="input-group-addon">D</span>
        <input class="form-control" name="answer3" placeholder="Strongly Disagree" pattern="^.{1,100}$" title="please enter an option between 1 &amp; 100 characters" required>
      </div>
      <div class="input-group">
        <span class="input-group-addon">E</span>
        <input class="form-control" name="answer4" placeholder="Strongly Disagree" pattern="^.{1,100}$" title="please enter an option between 1 &amp; 100 characters" required>
      </div>
    </div>
    <button class="center-block blank-space btn btn-primary btn-lg" type="submit"><span class="glyphicon glyphicon-ok"></span>&nbsp;Finish Story!</button>
  </form>
</div>
{% endblock %}
