{% extends "base.html" %}
{% include "partials/error.html" %}

{% block page %}
<div class="createView">
    <form>
    <div class="section shadow">
        <div class="class keyPoint-inside"> Title </div>
        <input class="title title-createView field fixed" name="title" placeholder="Title" pattern="^.{10,50}$" title="please enter a title between 10-50 characters" required>
    </div>
    <div class="section shadow">
        <div class="class keyPoint-inside"> Narrative </div>
        <textarea  class="narrative field" name="narrative" placeholder="Narrative" pattern="^.{50,100000}$" title="please enter a narrative between 50-100,000 characters" required></textarea>
    </div>
    <div class="section-create-question shadow">
        <div class="class keyPoint-inside"> Question </div>    
            <input class="createfield" type="text" placeholder="Question" pattern="^.{10,100000}$" title="please enter a question between __ characters" required>

        <div class="wrapper">
            <input class="option" placeholder="Strongly Disagree" pattern="^.{10,100000}$" title="please enter an option between __ characters" required>
            <div class="level">1</div>
        </div>

        <div class="wrapper">
            <input class="option" placeholder="Disagree" pattern="^.{10,100000}$" title="please enter an option between __ characters" required>
            <div class="level">2</div>
        </div>

        <div class="wrapper">
            <input class="option" placeholder="Neutral" pattern="^.{10,100000}$" title="please enter an option between __ characters" required>
            <div class="level">3</div>
        </div>

        <div class="wrapper">
            <input class="option" placeholder="Agree" pattern="^.{10,100000}$" title="please enter an option between __ characters" required>
            <div class="level">4</div>
        </div>

        <div class="wrapper">
            <input class="option" type="text" placeholder="Strongly Agree" pattern="^.{10,100000}$" title="please enter an option between __ characters" required>
            <div class="level">5</div>
        </div>
    </div>
        <button class="finish clickable shadow" type="submit">Finish Story!</button>
    </form>
</div>
{% endblock %}
