{% extends "base.html" %}

{% block page %}

<div class="feedView">
    {% for story in feed %}
     <div class="feedElement">
          <div class="title-feedView">
            <p><a href="/story/{{ story.story }}">{{ story.title }}</a></p>
          </div>
          <div class="text text-feedView">
              <p>{{ story.narrative }}</p>
          </div>
       <div class="date">
           <span>{{ story.creationDate.split('T')[0] }}</span>
        </div>
       <div class="votes">
            <span>{{ story.totalVotes }} votes</span>
       </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

