{% extends "base.html" %}

{% block page %}
  {% if username %}
  {% else %}
  <div class="container-fluid">
    <div class="cta">
      <i id="cta-close" class="ion-ios-close-empty"></i>
      <h3>Articles with surveys.</h3>
      <div>
        <i class="ion-ios-book-outline"></i>
        <span class="plus">+</span>
        <i class="ion-ios-pie-outline"></i>
      </div>
      <a href="/user/signup"><button><span>signup</span><i class="ion-ios-arrow-thin-up"></i></button></a>
    </div>
  </div>
  {% endif %}
  <div class="container feed">
  <div><span class="category">Recent Stories</span></div>
  {% include "partials/pagination.html" %}
  {% for story in feed %}
    <a href="/story/{{ story.story }}"><div class="feed-item">
      <h4>{{ story.title }}</h4>
      <h6>{{ story.questionTitle }}<br/><span>Total Votes: {{ story.totalVotes }}</span></h6>
      <div></div>
      <h5 class="feed-author"><span>by</span><span>{{ story.author }}</span></h5>
      <h5>{{ story.creationDate }}</h5>
    </div></a>
  {% endfor %}
  </div>
  {% block script %}
    <script src="/js/cta.js"></script>
  {% endblock %}
  {% include "partials/pagination.html" %}
{% endblock %}


