{% extends "base.html" %}
{% include "partials/error.html" %}

{% block page %}
<div class="page-background"></div>

<div class="bodyView bodyView-welcome top">
	<div class="text">
		<p>Login</p>
		<form action="/user/login" method="POST">
			<div class="inputFields">
				<input name="usernameEmail" type="text" maxlength="254" placeholder=" username/email" required>
				<input name="password" type="password" maxlength="512" placeholder=" password" required autocapitalize="off">
			</div>
			<div class="buttons">
				<button class="clickable">Log in</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}

