{% extends "base.html" %}

{% block page %}

<div class="page-background"></div>

<section class="welcome-form">
  <div class="modal-inner">
    <p>Welcome Back!</p>
    <div class="modal-content">
      <form action="/user/login" method="POST">
        <input name="usernameEmail" type="text" maxlength="254" placeholder="email/username" required>
        <input name="password" type="password" maxlength="512" placeholder="password" required autocapitalize="off">
        <hr/>
        <button class="clickable">Login</button>
      </form>
    </div>
  </div>
</section>
{% endblock %}

