{% extends "base.html" %}

{% block noheader %}
{% endblock %}

{% block page %}
<div class="static-welcome">
  <form id="login" action="/user/login" method="POST">
    <div class="modal-title">Login</div>
    <div class="label">Username or Email</div>
    <input name="usernameEmail" type="text" title="This is the username or email of your account." maxlength="254" required>
    <div class="label">Password</div>
    <input name="password" type="password" title="This is the password of your account." maxlength="512" required>
    <button type="submit"><div class="modal-btn">Login<span class="glyphicon glyphicon-ok-circle"></span></div></button>
  </form>
</div>
{% endblock %}

