{% extends "base.html" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="/css/modal.css">
{% endblock %}

{% block page %}
{% include "partials/change-pword.html" %}

<div class="container">
  <div class="jumbotron">
    <div class="col-sm-4">
      <img src="/img/avatar.png" alt="avatar here"  class=" profile-img center-block">
    </div>
    <div class="col-sm-8 menu">
      <h2 class="username">{{ username }}</h2>
      <form action="/user/delete" method="POST">
        <button class="btn btn-danger btn-block profile-btn">Delete Account</button>
      </form>
      <a class="change-pword" href="#change-pword">
        <button class="btn btn-warning btn-block profile-btn">Change Password</button>
      </a>
      <form class="profile-form" action="/user/logout" method="POST">
        <button id="logout-btn" class="btn btn-info btn-block profile-btn">Log Out</button>
      </form>
    </div>
    &nbsp;
  </div>
</div>
{% include "partials/change-pword.html" %}
{% endblock %}


