{% extends "base.html" %}

{% block page %}

<div class="page-background"></div>

{% include "partials/error.html" %}

<div class="bodyView bodyView-welcome top">
	<div class="text">
		<p>Sign Up for an Account</p>
		<form action="/user/signup" method="post">
			<div class="inputFields">
				<input name="username" type="text" placeholder=" username" pattern="^[A-Za-z0-9]{3,20}$" title="please enter a combination of 3-20 alphabetic characters/numeric digits" required autocapitalize="off">
				<input name="email" type="email" placeholder=" email" maxlength="254"pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$" title="please enter a valid email address" required autocapitalize="off">
				<input id="password" name="password" type="password" placeholder=" password" maxlength="512" pattern=".{5,512}" title="please enter a password between 5-512 characters" required autocapitalize="off" onkeyup="checkPass(); return false;">
				<input id="password2" name="password2" type="password" placeholder=" confirm password" maxlength="512" pattern=".{5,512}" title="please enter a password between 5-512 characters" required autocapitalize="off" onkeyup="checkPass(); return false;">
				<div class="buttons">
					<button class="clickable" type="submit">Sign Up</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}

