{% extends "base.html" %}

{% block noheader %}
{% endblock %}

{% block page %}
<div class="static-welcome">
  <form id="signup" action="/user/signup" method="POST">
    <div class="modal-title">Signup</div>
    <div class="label">Username</div>
    <input name="username" type="text" pattern="^[A-Za-z0-9]{3,20}$" required>
    <div class="label">Email</div>
    <input name="email" type="email" maxlength="254" pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$"  required>
    <div class="label">Password</div>
    <input id="password" name="password" type="password" maxlength="512" pattern=".{5,512}" required>
    <div class="label">Confirm Password</div>
    <input id="confirmPassword" name="confirmPassword" type="password" maxlength="512" pattern=".{5,512}" required>
    <button type="submit"><div>Signup<span class="glyphicon glyphicon-ok-circle"></span></div></button>
  </form>
</div>
{% endblock %}

