{% extends "base.html" %}

{% block page %}
<div class="storyView">
  <div class=" title title-storyView">{{ story.title }}</div>
  <div class="date">
    <span>{{ story.creationDate.split('T')[0] }}</span>
  </div>
  <div class="text text-storyView">
    <p>{{ story.narrative }}</p>
  </div>
  <div class="question">
    <div class="questionText keyPoint">{{ question.title }}</div>
    <div class="answers">
    {% for answer in question.answers %}
      <button class="answer clickable">{{loop.index}}. {{ answer.name }}</button>
    {% endfor %}
    </div>
  </div>
  <div class="statistics">
    <div class="totalVotes">
      <span class="total keyPoint">Total Votes</span>
      <span class="statistic keyPoint">{{ question.totalVotes }} votes</span>
    </div>

    <div class="superWrapper supperWrapper-storyView">
      <div class="demographicGrid">
      {% for answer in question.answers %}
        <div class="dataPoint">
          <span class="rank">{{loop.index}}</span>
          <div class="votes votes-storyView">{{ answer.votes }}</div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

