{% extends "base.html" %}

{% block OGmeta %}
  {% include "partials/OGmeta.html" %}
{% endblock %}

{% block SDK %}
<script src="/js/mediaSDK.js"></script>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/lib/bbcode/xbbcode.css" type="text/css"/>
{% endblock %}

{% block page %}
<div class="container">
  {% if story.author == username %}
  <div class=" author-tools">
  <h4 class="pull-left">Author Tools:</h4>
    <form action="/story/{{ story.storyId }}/delete" method="POST">
        <button class="btn btn-default btn-xs delete pull-right">
          Delete
        </button>
    </form>
  </div>
  {% endif %}
  <div class="jumbotron">
    <h1 class="title">{{ story.title }}</h1>
    <h4 class="author"><span>by</span>&nbsp;{{ story.author }}</h4>
    <h4 class="date">{{ story.creationDate.split('T')[0] }}</h4>
    <hr class="title-bar narrative-bar"/>
    <div class="narrative">
      <span id="xbbcode" class="definition"></span>
    </div>
  </div>
  <div class="jumbotron">
    <div class="active-section">
      <div class="vote-btn active">Vote<i class="ion-ios-checkmark-outline"></i></div>
      <div class="results-btn">Results<i class="ion-ios-pie-outline"></i></div>
    </div>
    <div class="question-title">{{ question.title }}</div>
    <div class="interactive-section">
      <div class="results-section">
        {% if question.totalVotes > 0 %}
        <div id="pie" class="pie"></div>
        {% endif %}
        <div class="pie-results">
          {% for answer in question.answers %}
          <div class="dataPoint" id="dataPoint{{ loop.index }}">
            <div class="rank">{% if loop.index == 1 %}A{% elif loop.index == 2 %}B{% elif loop.index == 3 %}C{% elif loop.index == 4 %}D{% else %}E{% endif %}</div>
            <div class="answer">{{ answer.name }}</div>
            <div class="data">
              <div class="percent">{{ answer.percent }}%</div>
              <div class="vote-count">{{ answer.votes }} votes</div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="vote-section">
        <hr class="title-bar" />
        <div id="vote-form-wrapper">
          {% for answer in question.answers %}
          <form class="answer-options" action="/story/{{ story.storyId }}/vote/{{ loop.index - 1 }}" method="POST">
              <button class="survey-button" type="submit">
                <div class="circle">
                  <span>
                    {% if loop.index == 1 %}
                    A
                    {% elif loop.index == 2 %}
                    B
                    {% elif loop.index == 3 %}
                    C
                    {% elif loop.index == 4 %}
                    D
                    {% else %}
                    E
                    {% endif %}
                  </span>
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </div>
                <div class="answer-text">{{ answer.name }}</div>
              </button>
          </form>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block share %}
<div class="container">
  <div class="jumbotron share-jumbotron center">
    <div>
      <h4>Share this article:</h4>
      <a class="share-icon" href="https://www.facebook.com/sharer/sharer.php?u=/story/{{ story.storyId }}&title={{ story.title }}" target="_blank">
        <img src="/img/facebook.png" alt="share to facebook" title="Share to Facebook">
      </a>
      <a class="share-icon" href="https://twitter.com/share" class="twitter-share-button" data-via="DynamicStoryOrg" data-dnt="true" target="_blank">
        <img src="/img/twitter.png" alt="share to twitter" title="Share to Twitter">
      </a>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<!-- declare global variables -->
<script>
  var userVote = '{{ question.userVote }}'
  {% for answer in question.answers %}
    window.answer{{ loop.index }} = {{ answer.votes }}
  {% endfor %}
</script>
<script>
  var narrative = {{story.narrative | safe}};
</script>
<!-- drop cap + bbcode -->
<script src="/lib/dropcap.min.js"></script>
<script src="/lib/bbcode/xbbcode.js"></script>
<script src="/js/bbcode-drop.js"></script>
<!-- toggle survey and results -->
<script src="/js/survey-results.js"></script>
<!-- d3 pie -->
<script src="/lib/d3.v3.min.js"></script>
<script src="/lib/d3pie.min.js"></script>
<script src="/js/pie.js"></script>
{% endblock %}


