{% extends "base.html" %}

{% block page %}
<div class="container">
  <div class="jumbotron">
    <h1 class="title">{{ story.title }}</h1>
    <h3 class="author">{{ story.author }}</h3>
    <h3 class="date">{{ story.creationDate.split('T')[0] }}</h3>
    <hr class="title-bar"/>
    <form action="/story/{{ story.storyId }}/delete" method="POST">
      {% if story.author == username %}
      <button class="pull-right btn btn-default btn-xs">
        Delete
      </button>
      {% endif %}
    </form>
  </div>
  <div class="jumbotron narrative"><p class="definition"><span id="drop-cap">{{ story.narrative.substring(0,1) }}</span><span>{{ story.narrative.substring(1) }}</span></p></div>
  <div class="jumbotron">
    <div class="active-section">
      <div class="vote-btn active">Vote<i class="ion-ios-checkmark-outline"></i></div>
      <div class="results-btn">Results<i class="ion-ios-pie-outline"></i></div>
    </div>
    <div class="question-title">{{ question.title }}</div>
    <div class="interactive-section" style="position:relative; transition: all 1000ms ease-in-out">
      <div class="results-section">
        <hr class="title-bar" style="margin:0 auto; margin-top:48px;"/>
        {% if question.totalVotes > 0 %}
        <div id="pie" class="pie"></div>
        {% endif %}
        <div class="pie-results">
          {% for answer in question.answers %}
          <div class="dataPoint" id="dataPoint{{ loop.index }}">
            <div class="rank">{% if loop.index == 1 %}A{% elif loop.index == 2 %}B{% elif loop.index == 3 %}C{% elif loop.index == 4 %}D{% else %}E{% endif %}</div>
            <div class="answer">{{ answer.name }}</div>
            <div class="data">
              <div class="percent">{{ answer.percent }}%</div>
              <div class="vote-count">{{ answer.votes }} votes</div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="vote-section">
        <hr class="title-bar" style="margin:0 auto; margin-bottom:48px;"/>
        <div>
          {% for answer in question.answers %}
          <form class="answer-options" action="/story/{{ story.storyId }}/vote/{{ loop.index - 1 }}" method="POST">
              <button class="survey-button" type="submit">
                <div class="circle">
                  <span>
                    {% if loop.index == 1 %}
                    A
                    {% elif loop.index == 2 %}
                    B
                    {% elif loop.index == 3 %}
                    C
                    {% elif loop.index == 4 %}
                    D
                    {% else %}
                    E
                    {% endif %}
                  </span>
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </div>
                <div class="answer-text">{{ answer.name }}</div>
              </button>
          </form>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<!-- toggle display for vote and results section -->
<script>
  var vote         = document.getElementsByClassName('vote-section')[0]
  var results      = document.getElementsByClassName('results-section')[0]
  var vote_btn     = document.getElementsByClassName('vote-btn')[0]
  var results_btn  = document.getElementsByClassName('results-btn')[0]
  var container    = document.getElementsByClassName('interactive-section')[0]
  // display results section if userVote exists on question
  {% if question.userVote %}
    changeDisplay(vote, "none")
    changeDisplay(results, "block")
    vote_btn.className = "vote-btn"
    results_btn.className = "results-btn active"
  {% else %}
    changeDisplay(vote, "block")
    changeDisplay(results, "none")
    vote_btn.className = "vote-btn active"
    results_btn.className = "results-btn"
  {% endif %}
  // on button click, toggle display for vote and results section
  vote_btn.addEventListener("click", function() {
    setTimeout(function() {
      changeDisplay(vote, "block")
      changeDisplay(results, "none")
    }, 75)
    vote_btn.className = "vote-btn active"
    results_btn.className = "results-btn"
  })
  results_btn.addEventListener("click", function() {
    setTimeout(function() {
      changeDisplay(vote, "none")
      changeDisplay(results, "block")
    }, 75)
    vote_btn.className = "vote-btn"
    results_btn.className = "results-btn active"
  })
  function changeDisplay(el, val) {
    el.style.display = val
  }
</script>
<!-- declare global variables for d3js -->
<script>
  {% for answer in question.answers %}
    window.answer{{ loop.index }} = {{ answer.votes }}
  {% endfor %}
</script>
<script src="/lib/dropcap.min.js"></script>
<!-- Enable drop cap -->
<script>
  var dropcap = document.querySelector("#drop-cap");
  // media query event handler
  if (matchMedia) {
    var mq = window.matchMedia("(min-width: 768px)");
    mq.addListener(WidthChange);
    WidthChange(mq);
  }
  // media query change
  function WidthChange(mq) {
    if (mq.matches) {
      // if window width is at least 768px, the drop cap spans the height of 3 lines
      window.Dropcap.layout(dropcap, 3);
    }
    else {
      // if window width is less than 768px, the drop cap spans the height of 2 lines
      window.Dropcap.layout(dropcap, 2);
    }
  }
</script>
<script src="/lib/d3pie.min.js"></script>
<script src="/js/pie.js"></script>
{% endblock %}


