{% extends "base.html" %}

{% block page %}
<div class="page-background"></div>
<div class="bodyView bodyView-welcome shadow top">
	<div class="text">
  	<p>Welcome to DynamicStory</p>
  	<p>Join to effectively share your opinion with the world.</p>
	</div>
</div>

<div class="buttons-welcome top" id="welcome-buttonsModal">
	<a href="#signup">
    <button class="clickable pull-right shadow">Sign up</button>
  </a>
	<a href="#login">
    <button class="clickable pull-right shadow">Log in</button>
  </a>
</div>

<div class="buttons-welcome top" id="welcome-buttonsLink">
  <a href="/user/signup">
    <button class="clickable pull-right shadow">Sign up</button>
  </a>
  <a href="/user/login">
    <button class="clickable pull-right shadow">Log in</button>
  </a>
</div>

<!-- Sign up modal -->
<section class="modal--fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
  <div class="modal-inner">
    <p>Join the Community!</p>
    <div class="modal-content">
      <form autocomplete="off" action="/user/signup" method="POST">
        <input name="username" type="text" placeholder="username" pattern="^[A-Za-z0-9]{3,20}$" title="please enter a combination of 3-20 alphabetic characters/numeric digits" required autocapitalize="off">
        <input name="email" type="email" placeholder="email" maxlength="254"pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$" title="please enter a valid email address" required autocapitalize="off">
        <input id="password" name="password" type="password" placeholder="password" maxlength="512" pattern=".{5,512}" title="please enter a password between 5-512 characters" required autocapitalize="off" onkeyup="checkPass(); return false;">
        <input id="password2" name="password2" type="password" placeholder="confirm password" maxlength="512" pattern=".{5,512}" title="please enter a password between 5-512 characters" required autocapitalize="off" onkeyup="checkPass(); return false;">
        <hr/>
        <button type="button" id="signup-btn" class="btn btn-default clickable">Sign up</button>
      </form>
    </div>
  </div>
  <!-- Use Hash-Bang to maintain scroll position when closing modal -->
  <a href="#!" class="modal-close" title="Close this modal" data-dismiss="modal" data-close="Close">X</a>
</section>

<!-- Log in modal -->
<section class="modal--fade" id="login" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
  <div class="modal-inner">
    <p>Welcome Back!</p>
    <div class="modal-content">
      <form autocomplete="off" action="/user/login" method="POST">
        <input name="emailUser" type="text" maxlength="254" placeholder="email/username" required>
        <input name="password" type="password" maxlength="512" placeholder="password" required autocapitalize="off">
        <hr/>
        <button type="button" id="login-btn" class="btn btn-default clickable">Log in</button>
      </form>
    </div>
  </div>
  <!-- Use Hash-Bang to maintain scroll position when closing modal -->
  <a href="#!" class="modal-close" title="Close this modal" data-dismiss="modal" data-close="Close">X</a>
</section>
{% endblock %}
