<!-- HEADER -->
<div class="container-fluid header real">
  <div class="largeimage"></div>
  <h1>
    <auxColor>
      <img src="../img/CLEAN_GW_LOGO.png" width="40;">
      <a href="/"><span class="textfun">Graph</span>Why.org</a>
    </auxColor>
  </h1>
  {% if username %}
  
  <i class="ion-person"></i>
  <div class="profile-menu-desktop">
    <div class="arrow-up"></div>
    <ul>
      <a href="/user/profile"><li>Profile</li></a>
      <a href="/user/change-pass"><li>Change Password</li></a>
      <a href="/story/create"><li class="header-btn-story">Write Story</li></a>
      <form action="/user/logout" method="POST"><button><li>Logout</li></button></form>
    </ul>
  </div>
  <div class="profile-menu-mobile">
    <ul>
      <a href="/user/profile"><li>Profile</li></a>
      <a href="/user/change-pass"><li>Change Password</li></a>
      <li><form action="/user/logout" method="POST"><button>Logout</button></form></li>
    </ul>
  </div>
  {% else %}
  <a href="/user/login"><div class="header-btn header-btn-login">Login</div></a>
  <a href="/user/signup"><div class="header-btn header-btn-signup">Signup</div></a>
  {% endif %}
  <div class="banner">
    <div class="profile-menu-mobile">
      <ul>
        <a href="/user/profile"><li>Profile</li></a>
        <a href="/user/change-pass"><li>Change Password</li></a>
        <li><form action="/user/logout" method="POST"><button>Logout</button></form></li>
      </ul>
    </div>
  </div>
</div>
<div style="width: 100px;height: 100px"></div>
