<!-- HEADER -->
<div class="container-fluid header">
  <h1><a href="/">DynamicStory</a></h1>
  {% if username %}
  <a href="/story/create"><div class="header-btn-story">Write Story</div></a>
  <i class="ion-person"></i>
  <div class="profile-menu-desktop">
    <div class="arrow-up"></div>
    <ul>
      <a href="/user/profile"><li>Profile</li></a>
      <a href="/user/change-pass"><li>Change Password</li></a>
      <form action="/user/logout" method="POST"><button><li>Logout</li></button></form>
    </ul>
  </div>
  <div class="profile-menu-mobile">
    <ul>
      <a href="/user/profile"><li>Profile</li></a>
      <a href="/user/change-pass"><li>Change Password</li></a>
      <li><form action="/user/logout" method="POST"><button>Logout</button></form></li>
    </ul>
  </div>
  {% else %}
  <a href="/user/login"><div class="header-btn-login">Login</div></a>
  <a href="/user/signup"><div class="header-btn-signup">Signup</div></a>
  {% endif %}
  <div class="banner">
    <div class="profile-menu-mobile">
      <ul>
        <a href="/user/profile"><li>Profile</li></a>
        <a href="/user/change-pass"><li>Change Password</li></a>
        <li><form action="/user/logout" method="POST"><button>Logout</button></form></li>
      </ul>
    </div>
  </div>
</div>
