{% extends "base.html" %}

{% block page %}
  {% if username %}
  {% else %}
  <div class="container-fluid">
    <div class="cta">
      <i id="cta-close" class="ion-ios-close-empty"></i>
      <h3>Articles with surveys.</h3>
      <p>Our mission is to create a more effective way to learn about the world around us. We believe pairing content with surveys will help generate more understanding for everyone.</p>
      <a href="/user/signup"><button><span>signup</span><i class="ion-ios-arrow-thin-up"></i></button></a>

  {% include "partials/pagination.html" %}

    </div>
  </div>
  {% endif %}
  <div class="container feed">
  <div class="category">
    <div></div>
    <div>Latest</div>
    <div></div>
  </div>
  {% for story in feed %}
  <div>
    <a href="/story/{{ story.story }}"><div class="feed-item">
      <h4>{{ story.title }}</h4>
      <h6>{{ story.questionTitle }}<br/><span>Total Votes: {{ story.totalVotes }}</span></h6>
      <div></div>
      <h5 class="feed-author"><span>by</span><span>{{ story.author }}</span></h5>
      <h5>{{ story.creationDate }}</h5>
    </div></a>
  </div>
  {% endfor %}
  </div>
  {% include "partials/pagination.html" %}
{% endblock %}


