{% extends "base.html" %}

{% block page %}
  {% if username %}
  {% else %}
  <div class="container-fluid header landing">
    <div class="landing-container">
      <div class="largeimage"></div>
        <div class="text">
          <h1>Welcome to GraphWhy.org</h1>
          <p>Magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>  
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</li>
            <li>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
            <li>It esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
            <li>Eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
          </ul>
        <div style="width:100px;height:50px"></div>
        <!--BOTTOM BANNER
        <div class="secondary-banner">
          <h1><a href="/"><span class="textfun">Graph</span>Why.org</a></h1>
          <a href="/user/login">
            <div class="header-btn header-btn-login">Login</div>
          </a>
          <a href="/user/signup">
            <div class="header-btn header-btn-signup">Signup</div>
          </a>
        </div>
        <!--BOTTOM BANNER-->
      </div>    
    </div>
  </div>
</div>
<!--
  <div class="container-fluid">
    <div class="cta styled-box">
      <i id="cta-close" class="ion-ios-close-empty"></i>
      <h3>Articles with surveys.</h3>
      <div>
        <i class="ion-ios-book-outline"></i>
        <span class="plus">+</span>
        <i class="ion-ios-pie-outline"></i>
      </div>
      <a href="/user/signup"><button><span>signup</span><i class="ion-ios-arrow-thin-up"></i></button></a>
    </div>
  </div>
  -->
  {% endif %}
  <div class="container feed">
  <div class='pagination-c'>
    <span class="category">Recent Stories</span>
    {% include "partials/pagination.html" %}
  </div>
  {% for story in feed %}
    <a href="/story/{{ story.story }}"><div class="feed-item styled-box">
      <h4>{{ story.title }}</h4>
      <h6>{{ story.questionTitle }}<br/><span>Total Votes: {{ story.totalVotes }}</span></h6>
      <div></div>
      <h5 class="feed-author"><span>by</span><span>{{ story.author }}</span></h5>
      <h5>{{ story.creationDate }}</h5>
    </div></a>
  {% endfor %}
  </div>
  {% include "partials/pagination.html" %}
{% endblock %}


