{% extends "base.html" %}

{% block page %}
  {% if username %}
  {% else %}
  <div class="container-fluid header landing">
    <div class="secondary-banner">
      <h1>
	<auxColor>
  	<img src="../img/CLEAN_GW_LOGO.png" width="40;">
	<a href="/"><span class="textfun">HowDoIChangeTheWorld</span>.org</a>
	</auxColor>
      </h1>
      <div class="header-btn header-btn-login">
        <a href="/user/login">Login</a>
      </div>
      <div class="header-btn header-btn-signup">	
        <a href="/user/signup">Sign Up</a>
      </div>
    </div>
    <div class="landing-container">
	<!--
	<div class="hidden-sm hidden-xs" style="float:left;margin-top:400px;margin-left:600px">
	  <img style="" src="http://i.giphy.com/uZ1eXDV1qSViM.gif" width="215" height="284"/>
	</div>
	--> 
        <div class="largeimage"></div>
        <div class="text">
	  <auxColor>
	     <h1><b>HowDoIChangeTheWorld</b>.org</h1>
	  </auxColor>
	  <div style="width:40px;height:25px;"></div>
	  <p>For those who don’t know, HowDoIchangeTheWorld.org is a registered non-profit in the state of California, This organization is loosely run by a group of bay area college students. Our mission is to educated the public through graphs and statistics.</p>  
	  <p>This web address is currently being used as the organization's blog, and notice board. You can visit here to discover our thoughts, ambitions, newly released technology and, if you like, support the organization. While you are here we invite you to read our latest blog posts and participate in the linked surveys.</p>  
	  <div style="width:40px;height:30px;"></div>
	  <!--<h5 class="hidden-xl hidden-lg hidden-md"><b>Chat is live!</b></h5>
	  <img class="hidden-xl hidden-lg hidden-md" style="" src="http://i.giphy.com/uZ1eXDV1qSViM.gif" width="215" height="284"/>-->
	  <h5 class=""><b>Chat is live!</b></h5>
	  <img class="" style="" src="http://i.giphy.com/uZ1eXDV1qSViM.gif" width="215" height="284"/>
	  <br/><br/>
	  <h5><b>Notices & Updates:</b></h5>
	  <ul>
	    <li>HowDoIchangeTheWorld.org is currently running on the DynamicStory infrastructure. DynamicStory was an earlier version of what we hope HowDoIchangeTheWorld to be. Although the DynamicStory initiative is no longer active, we have repurposed the technology for our corporate blog.</li>
	    <li>The HowDoIchangeTheWorld team is currently studying full time at some the Bay Area’s local colleges. Progress on the site will be very slow for the next year.</li>
	    <li>Our current ambition is to create a chatbot. We hope that the use of a bot will allow our community engage more conveniently in HowDoIchangeTheWorld Surveys.</li>
<!--
	    <li>If you would like to support HowDoIchangeTheWorld the team has created merchandise that you will soon be able to purchase. All profits will go toward keeping the server online.</li>
-->	  
	  </ul>
        <div style="width:100px;height:150px"></div>
      </div>    
    </div>
  </div>
</div>
  {% endif %}

  <div class="container feed">
  <div class='pagination-c'>
    <span class="category">Recent Stories</span>
    {% include "partials/pagination.html" %}
  </div>
  {% for story in feed %}
    <a href="/story/{{ story.story }}">
      <div class="feed-item styled-box">
	<h4>{{ story.title }}</h4>
	<h6>{{ story.questionTitle }}<br/><span>Total Votes: {{ story.totalVotes }}</span></h6>
	<div></div>
	<h5 class="feed-author"><span>by</span><span>{{ story.author }}</span></h5>
	<h5>{{ story.creationDate }}</h5>
      </div>
    </a>
  {% endfor %}
  </div>
  {% include "partials/pagination.html" %}
{% endblock %}


