{% extends "base.html" %}

{% block page %}
<div class="container">
  <div class="jumbotron">
    <h1 class="title hyphenate text">{{ story.title }}</h1>
    <h3 class="author">{{ story.author }}</h3>
    <h3 class="date">{{ story.creationDate.split('T')[0] }}</h3>
    <hr class="title-bar"/>
    <form action="/story/{{ story.storyId }}/delete" method="POST">
      {% if story.author == username %}
      <button class="btn btn-default btn-xs delete">
        Delete
      </button>
      {% endif %}
    </form>
  </div>
  <div class="jumbotron narrative">
    <span id="xbbcode" class="definition">{{story.narrative}}</span>
  </div>
  <div class="jumbotron">
    <div class="active-section">
      <div class="vote-btn active">Vote<i class="ion-ios-checkmark-outline"></i></div>
      <div class="results-btn">Results<i class="ion-ios-pie-outline"></i></div>
    </div>
    <div class="question-title">{{ question.title }}</div>
    <div class="interactive-section">
      <div class="results-section">
        <hr class="title-bar" />
        {% if question.totalVotes > 0 %}
        <div id="pie" class="pie"></div>
        {% endif %}
        <div class="pie-results">
          {% for answer in question.answers %}
          <div class="dataPoint" id="dataPoint{{ loop.index }}">
            <div class="rank">{% if loop.index == 1 %}A{% elif loop.index == 2 %}B{% elif loop.index == 3 %}C{% elif loop.index == 4 %}D{% else %}E{% endif %}</div>
            <div class="answer">{{ answer.name }}</div>
            <div class="data">
              <div class="percent">{{ answer.percent }}%</div>
              <div class="vote-count">{{ answer.votes }} votes</div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="vote-section">
        <hr class="title-bar" />
        <div id="vote-form-wrapper">
          {% for answer in question.answers %}
          <form class="answer-options" action="/story/{{ story.storyId }}/vote/{{ loop.index - 1 }}" method="POST">
              <button class="survey-button" type="submit">
                <div class="circle">
                  <span>
                    {% if loop.index == 1 %}
                    A
                    {% elif loop.index == 2 %}
                    B
                    {% elif loop.index == 3 %}
                    C
                    {% elif loop.index == 4 %}
                    D
                    {% else %}
                    E
                    {% endif %}
                  </span>
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </div>
                <div class="answer-text">{{ answer.name }}</div>
              </button>
          </form>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script>
  // TODO: Remove inline Javascript
  var userVote = '{{ question.userVote }}'
  {% for answer in question.answers %}
    window.answer{{ loop.index }} = {{ answer.votes }}
  {% endfor %}
</script>
{% endblock %}


