
/*custom override changes to prexisting tags and classes*/

/* Improve legibility for general text */
p {
  font-weight: 300 !important;
}

/* Overwrite default font-family for bootstrap's btn class */
.btn {
  font-family: 'Open Sans', sans-serif;
}/*----O_o-*/

/* Overwrite default height of body and html to 100% */
html{
  height: 100%;
  min-width: 320px;
  font-family: 'Open Sans', sans-serif;
}
body{
  height: 100%;
  background: url("http://subtlepatterns.com/patterns/cloth_alike.png") repeat scroll 0% 0% transparent;
}
/*----O_o-*/

/* min width for containers to prevent maintain legibility */
.container{
  min-width: 320px;
}/*----O_o-*/

/* remove bottom margin for flash message alert */
.alert{
  margin-bottom: 0;
}/*----O_o-*/

.jumbotron{
  background-color: #f8f8f8 !important;
}
/*^^^^^^^^^^^ end of override modifiers ^^^^^^^^^^^^^^^*/




/*general modifiers*//*general modifiers*//*general modifiers*/
/*modifed the <hr> to be visable in a jumbotron*/
hr{
  border-color:#bbb;
}/*----O_o-*/

/*adding a larger default height to textarea (for story-page)*/
.tall{
  height:15em !important;
}/*----O_o-*/

/*adds margin-top to any element*/
.top{
  margin-top:1em;
}
.half-top{
  margin-top:.5em;
}/*----O_o-*/

/*adds padding-bottom to any element*/
.extra-bottom{
  padding-bottom:5em;
}/*----O_o-*/

/* class to remove the margin-top on elements */
.topless{
  margin-top:0px;
}/*----O_o-*/

/*auxillary class which can be used to add blank space below any element*/
.blank-space{
	margin-bottom:2em;
}
.little-blank-space{
	margin-bottom:.6em;
}
.blank-space-2{
  margin-bottom:.3em;
}/*----O_o-*/

/*use to make responsive media links*/
.responsive-container{
   position:relative;
   width:100%;
   height:0;
   padding-bottom:51%;
}
.responsive-item {
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  top:0;
}/*----O_o-*/

/*used to add a margin-right of 6px to anything!*/
.margin-right-space{
  margin-right:6px;
}/*----O_o-*/

.twenty-one {
	font-size:21px !important;
}

/** hr with increased top bottom margins **/
.hr-large{
  margin: 60px 0
}/*----O_o-*/


/** question title on story page **/
#question-title{
  font-size: 32px;
  font-weight: 300;
  color: #444;
  margin: 48px 0 96px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #question-title{
      margin: 48px 0 78px;
  }
}
/*----O_o-*/

/*^^^^^^^^^^^ end of general modifiers ^^^^^^^^^^^^^^^*/

.narrative{
  white-space: pre-wrap;
  padding: 30px 20px;
  font-family: 'Georgia';
}

/*adjusting font-size according to the size of screen */
.narrative p{
    font-size: 24px;
}
@media screen and (max-width: 767px){
  .narrative {
    padding: 70px 20px;
  }
  .narrative p{
    font-size: 20px;
  }
}/*---------O_o------*/

/*prevents the navbar from breaking header*/
.navbar-collapse.collapse {
  display: block!important;
}
.navbar-nav>li, .navbar-nav {
  float: left !important;
}
.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}
.navbar-right {
  float: right!important;
}/*----O_o-*/

/*override the defaults settings of <a> on the feed*/
a .jumbotron{
  color:#444;
}
a:hover .jumbotron{
  color:#222;
  background-color:#ddd;
}
a:hover{
  text-decoration: none;
}/*----O_o-*/


/* allows break-word used to keep troll-text* out of feed page
(*troll-text:text that does not fit in the jumbotron) */
.jumbotron{
  word-wrap:break-word;
}/*----O_o-*/

/* change to allow our buttons text to wrap */
.btn{
  white-space: normal !important;
  word-wrap: break-word;
}/*----O_o-*/

/*story-page fix for the survey answer options*/
.index-number{
	float:left;
	padding:0px 7px 0px 7px;
	border-right:1px solid #bbb;
	border-bottom:1px solid #bbb;
	border-top:1px solid #bbb;
	color:#222;
	width:48px;
	margin: 0px;
  padding-right: 7px;
  border: 0;
  border-right: 1px solid #222;
  font-size: 26px;
  font-weight: 700;
}

.pie-results{
  margin-top: 6px;
  font-family: 'Georgia';
}

#dataPoint1 .rank{
  background-color: rgba(40, 58, 144, .8);
}
#dataPoint2 .rank{
  background-color: rgba(215, 130, 30, .8);
}
#dataPoint3 .rank{
  background-color: rgba(109, 84, 182, .8);
}
#dataPoint4 .rank{
  background-color: rgba(50, 167, 121, .8);
}
#dataPoint5 .rank{
  background-color: rgba(196, 96, 106, .8);
}/* ---O_o----*/

/* centering the Pie chart*/
.pie{
  width:270px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}/*----O_o-*/


/*This is for the data table which shows the results on the story-page*/
.dataPoint{
/*  margin:0 auto;
  width:95%;
  height:2em;
  margin-top:.4em;*/
  padding:0;
  display:flex;
  width: 500px;
  text-align:center;
  color:#555;
  align-items: center;
  font-famiy: Georgia;
  border-top:1px solid #CCC;
  margin: 0 auto;
  padding: 8px 0;
}
.rank{
  order:1;
  background: #333;
  color: white;
  font-size:22px;
  line-height: 40px;
  width: 40px;
  border-radius: 50%;
/*	float:left;
	width:20%;
	border-radius:1em 0em 0em 1em;
	padding:.1em 1em;
	text-align:center;
	margin-left:.9em;
	border:1px solid #ccc;
  font-weight: 300;
  color:white;*/
}
.votes-storyView{
  float:left;
  width:70%;
  margin-left:.3em;
  border-radius:0em 1em 1em 0em;
  padding:.1em 1em;
  background-color:white;
  text-align:center;
  border:1px solid #ccc;
}
.dataPoint:first-child{
  border-top: 0;
}/*----O_o-*/

/*adding a small amount of space in between each answer option on the create story-page*/
.input-group{
  margin-top:5px;
}/*----O_o-*/

/*making the profile-page avatar a smaller size*/
.profile-img{
  margin-top:20px;
  width:140px;
  height:140px;
}/*----O_o-*/

/* override the default padding of bootstrap */
.navbar{
  margin-bottom:00px !important;
}
 .jumbotron:first-child{
  margin-top:20px;
}/*----O_o-*/

/* override the default padding of bootstrap */
.navbar-brand{
  padding:10px;
}/*----O_o-*/

/*used to frame the error pages on 404 & 500 */
.error-page img{
  max-width: 300px;
  width:100%;
  height:100%;
}/*----O_o-*/

.buttons a {
  text-decoration: none;
}

/*Center username on profile page*/
.username{
  text-align: center;
  margin: 30px auto;
}/*----O_o-*/

/*Story title styling*/
.title{
  text-align: center;
  font-family: 'Georgia';
  color: #222;
  font-size: 48px;
  font-weight: 700;
  margin: 48px 0;
}

.author{
  display: block;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 12px;
  font-size: 18px;
  margin: 18px 0;
  font-family: 'Georgia';
}

.date{
  display: block;
  text-align: center;
  font-family: 'Georgia';
  font-weight: 400;
  color: #555;
  font-style: italic;
  font-size: 18px;
  letter-spacing: 6px;
  margin: 18px 0;
}

.title-bar{
  width: 20%;
  margin: 48px auto;
}

#drop-cap{
  font-family: 'Baskerville';
  margin-right: 7.86px;
}
/*----O_o-*/

/* Narrative padding */
@media screen and (min-width: 1100px){
  .container .jumbotron{
    padding: 120px;
  }
}
@media screen and (min-width: 768px){
  .container .jumbotron{
    padding: 90px;
  }
}/*----O_o-*/

/**
 *  Modal changes
 *
 *
 *
 */

.modal--fade .modal-inner, .modal--show .modal-inner {
  width: auto;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  top: 50%;
  margin-left: 0;
}

.modal--fade .modal-close:before, .modal--show .modal-close:before {
  background-color: #000;
  opacity: .6;
}

.modal--fade .modal-close:after, .modal--show .modal-close:after {
    display: none;
}
.modal-content{
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}


/* Landing Page */

.landing {
  padding: 10px;
  background-color: #013976;
}

.landing h1, .landing h2, .landing h3, .landing h4, .landing h5{
  margin:0;
}

.landing h3{
  font-weight: 300;
  padding: 20px 24px 170px 24px;
  color:#FFF;
  font-size: 18px;
}

.landing h2{
  padding: 0 36px;
}

.article{
  display: inline-block;
  height: 65px;
  width: 50px;
  background-color: #222;
  text-align: center;
}

.survey{
  display: inline-block;
  background-color: #222;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  text-align: center;
}

.graphic-label{
  width: 43px;
  display: inline-block;
  text-align: center;
  color: #FFF;
  font-weight: 100;
  font-size: 12px;
  letter-spacing: 2px;
}

.article-label{
  margin-right: 42px;
}

.landing-btns-modal, .landing-btns-static{
  margin-top: 170px;
  text-align: center;
  line-height: 24px;
}

.landing-btns-modal a:nth-child(1), .landing-btns-static a:nth-child(1){
  color: #FFF;
}
.landing-btns-modal a, .landing-btns-static a{
  color: #AAA;
}

.login-btn, .signup-btn, .enter-btn{
  font-weight: 300;
  display: block;
  color: #FFF;
  font-size: 24px;
  margin: 6px;
}
.login-btn a, .signup-btn a{
  color: #BBB;
}

.plus{
  color: #FFF;
  line-height: 42px;
  height: 42px;
  text-align: center;
  display: inline-block;
  width: 43px;
  font-size: 24px;
  font-weight: 100;
}

.graphic{
  width: 129px;
  margin: 0 auto;
}

.about-vid{
  text-align: center;
  margin-top: 50px;
}

.about-vid h2{
  text-align: center;
  font-size: 28px;
  color: #FFF;
  line-height: 36px;
  margin: 0 auto;
  font-weight: 100;
  letter-spacing: 4px;
}

.about-vid h2:first-of-type{
  width: 50%;
  margin: 0 auto;
  padding: 20px 0 0 0;
}

.about-vid h5{
  display: inline-block;
  color: #FFF;
  padding: 50px 0;
  margin: 0 auto;
  width: 180px;
  line-height: 20px;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 100;
  text-align: left;
}

.footer{
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  color: #FFF;
  padding: 36px;
  font-weight: 100;
  letter-spacing: 1px;
}

.address, .name{
  margin-top:18px;
}

.name span{
  color: #FFF;
  border-bottom: 1px solid #fff;
}

.copyright{
  margin-top: 54px;
}

.login-btn:hover, .signup-btn:hover, .enter-btn:hover{
  color: #FFF;
  font-size: 28px;
}

.about-vid iframe{
  display: block;
  margin: 0 auto;
  padding-top: 100px;
  margin-bottom: 100px;
}

.right-quote{
  position: relative;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}

.left-quote{
  position: relative;
  top: 43px;
  vertical-align: top;
}

.seperator{
  width: 75%;
  max-width: 300px;
  margin: 0 auto;
  border-top: 1px solid white;
}
/*^^^^^^^^^^^^^^^^^^^^^  END Landing Page ^^^^^^^^^^^^^^^^^^^^^*/


/* Modals */

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}


.modal--fade .modal-close:before, .modal--show .modal-close:before{
  z-index: -1;
  height: 100%;
}

input:-webkit-autofill {
  background-color: #333 !important;
  -webkit-box-shadow: 0 0 0px 1000px #333333 inset !important;
  -webkit-text-fill-color: #FFF !important;
  -webkit-text-stroke: 0 !important;
  -webkit-text: #fff !important;
  currentcolor: #fff;
}

.modal-inner{
  border-radius: 0 !important;
  background: #222 !important;
  max-height: none !important;
}

.modal-content{
  border: 0 !important;
  background: #222 !important;
  max-height: none !important;
}

#login input, #signup input, #change-pword input{
  display: block;
  clear: both;
  width: 100%;
  background-color: #333333;
  padding: 4px 8px;
  text-align: left;
  color: #FFF;
  border: 0;
  font-size: 22px;
  padding: 6px 8px;
}

.label{
  display: block;
  color: #AAA;
  text-align: left;
  font-size: 16px;
  font-weight: 300;
  padding-left: 0;
}

.label:nth-child(4), .label:nth-child(6), .label:nth-child(8){
  margin-top: 8px;
}

.modal-title{
  color: #FFF;
  text-align: left;
  padding-bottom: 50px;
  font-size: 24px;
}

#login .glyphicon, #signup .glyphicon, #change-pword .glyphicon{
  margin-left: 8px;
  position: relative;
  top: 3px;
}

#login form, #signup form, #change-pword form{
  width: 260px;
  margin: 0 auto;
}

#login button, #signup button, #change-pword button{
  padding: 0;
  border: 0;
  height: 40px;
  width: 100%;
  font-weight: 400;
  background-color: #CCC;
  color: #222;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  margin: 16px 0;
}

#login button:hover, #signup button:hover, #change-pword button:hover{
  background-color: #FFF;
  color: #222;
}

.close-btn{
  display: inline-block;
  float: right;
  color: #AAA;
}

.close-btn:hover{
  color:#FFF;
}

@media screen and (max-width: 767px) {
    .landing-btns-modal{
        display: none;
    }
    .landing-btns-static{
        display: block;
    }
}

@media screen and (min-width: 768px) {
    .landing-btns-modal{
        display: block;
    }
    .landing-btns-static{
        display: none;
    }
}
/*^^^^^^^^^^^^^^^^^^^^^  END Modals ^^^^^^^^^^^^^^^^^^^^^*/


/* Static Login & Signup Pages */
.static-welcome{
  background: #444;
  width: 100%;
  height: 100%;
  padding: 16px;
  min-width: 240px;
}
.static-welcome form{
  background: #444;
  max-width: 400px;
  margin: 32px auto;
}

.static-welcome input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #666 inset;
}
/*^^^^^^^^^^^  END Static Login & Signup Pages ^^^^^^^^^^^^^^^*/


@media (max-width: 767px) {
	.container {
		padding-left: 0;
		padding-right: 0;
	}
	.jumbotron {
		border-radius: 0 !important;
	}
}

/* transparent btn to override bootstrap default */
.transparent-btn{
  background-color: transparent;
  border: 0;
  color: #9d9d9d !important;
  line-height: 20px;
  padding: 10px 10px;
}

.transparent-btn:hover{
  color: #FFF !important;
}

@media (min-width: 768px) {
  .transparent-btn{
    padding: 15px 10px;
  }
}

/* temporary fix until a hamburger menu is implemented*/
@media (max-width: 380px) {
  #logout-btn-header{
    display: none;
  }
}

/*^^^*/

/* *************** survey section styling **************** */
.question-title{
  font-family: 'Georgia';
  text-align: center;
  font-size: 32px;
  margin-bottom: 0;
}
.active-section{
  display:flex;
  justify-content:center;
  margin-bottom: 64px;
}

.active-section div{
  cursor: pointer;
  width: 140px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-family: 'Georgia';
  letter-spacing: 10px;
  text-transform: uppercase;
}

.vote-btn{
  margin-right: 18px;
}

.active{
  border-bottom: 1px solid #777;
}

.answer {
  order:2;
  width:50%;
  margin: 0 16px;
  line-height:1;
  text-align:left;
  padding-left: 8px;
  padding-right:8px;
  font-size:24px;
}
.results-header {
  font-family: 'Georgia';
  text-align: center;
}

.results-header div:nth-child(1){
  font-size: 32px;
}

.results-header div:nth-child(2){
  font-size: 14px;
}

.data{
  font-size:36px;
  order:3;
  text-align:left;
  font-weight:400;
  margin-left:auto;
}

.percent{
  font-size:57px;
  line-height: 57px;
}

.vote-count{
  font-size:20px;
  line-height: 20px;
  text-align: right;
}

.question-title{
  font-family: 'Georgia';
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 48px;
  line-height: 40px;
}

@media (max-width: 560px) {
  .dataPoint{
    width: 300px;
  }
  .rank{
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 12px;
  }
  .percent {
    font-size: 32px;
    line-height: 32px;
  }
  .answer{
    font-size: 18px;
  }
  .vote-count{
    font-size: 14px;
    line-height: 14px;
  }
  .question-title{
    /*font-size: 24px;*/
  }
}

@media (max-width: 320px) {
  .dataPoint{
    width:100%;
  }
}

.circle{
  color: white;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  vertical-align: top;
  font-size: 18px;
  line-height: 30px;
  float: left;
}
.circle span{
  position: relative;
  display: block;
  text-align: center;
}
.answer-text{
  width: 80%;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
}

@media screen and (max-width: 380px){
  .answer-text{
    width: 72%;
  }
}

.survey-button .glyphicon-ok{
  line-height: 30px;
  display: none;
}
.survey-button{
  font-family: 'Georgia';
  margin: auto;
  padding: 10px;
  border: 1px solid #777;
  margin-bottom: 6px;
  max-width: 480px;
  background-color: transparent;
  display: block;
  width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.survey-button .circle{
  color: white;
}
.survey-button:hover .answer-text{
  color: white;
}
.survey-button:hover .circle{
  background-color: white;
}
.survey-button:hover .circle span:nth-child(1){
  display: none;
}
.survey-button:hover .glyphicon-ok{
  display: block;
}


.answer-options:nth-child(1) .circle{
  background-color: #283a90;
}
.answer-options:nth-child(1) .survey-button{
  border-bottom: 6px solid #182357;
}
.answer-options:nth-child(1) .survey-button:hover{
  background-color: #283a90;
  border: 1px solid #283a90;
  border-bottom: 6px solid #182357;
}
.answer-options:nth-child(1) .survey-button:hover .circle{
  background-color: white;
  color: #283a90;
}


.answer-options:nth-child(2) .circle{
  background-color: #d7821e;
}
.answer-options:nth-child(2) .survey-button{
  border-bottom: 6px solid #9e5f16;
}
.answer-options:nth-child(2) .survey-button:hover{
  background-color: #d7821e;
  border: 1px solid #d7821e;
  border-bottom: 6px solid #9e5f16;
}
.answer-options:nth-child(2) .survey-button:hover .circle{
  background-color: white;
  color: #d7821e;
}

.answer-options:nth-child(3) .circle{
  background-color: #6d54b6;
}
.answer-options:nth-child(3) .survey-button{
  border-bottom: 6px solid #4b397d;
}
.answer-options:nth-child(3) .survey-button:hover{
  background-color: #6d54b6;
  border: 1px solid #6d54b6;
  border-bottom: 6px solid #4b397d;
}
.answer-options:nth-child(3) .survey-button:hover .circle{
  background-color: white;
  color: #6d54b6;
}

.answer-options:nth-child(4) .circle{
  background-color: #32a779;
}
.answer-options:nth-child(4) .survey-button{
  border-bottom: 6px solid #216e4f;
}
.answer-options:nth-child(4) .survey-button:hover{
  background-color: #32a679;
  border: 1px solid #32a679;
  border-bottom: 6px solid #216e4f;
}
.answer-options:nth-child(4) .survey-button:hover .circle{
  background-color: white;
  color: #32a779;
}

.answer-options:nth-child(5) .circle{
  background-color: #c4606a;
}
.answer-options:nth-child(5) .survey-button{
  border-bottom: 6px solid #8c454c;
}
.answer-options:nth-child(5) .survey-button:hover{
  background-color: #c4606a;
  border: 1px solid #c4606a;
  border-bottom: 6px solid #8c454c;
}
.answer-options:nth-child(5) .survey-button:hover .circle{
  background-color: white;
  color: #c4606a;
}

/* *************** END survey button styling **************** */

.g-recaptcha{
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform: scale(0.86);
  -webkit-transform:scale(0.86);
  margin-top: 24px;
}

.g-recaptcha, .static{
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform: scale(1.33);
  -webkit-transform:scale(1.33);
  margin-top: 24px;
  margin-bottom: 36px;
}
