/*custom override changes to prexisting tags and classes*/

/* Improve legibility for general text */
p {
  font-weight: 300 !important;
}

/* Overwrite default height of body and html to 100% */
html{
  height: 100%;
  min-width: 320px;
  font-family: 'Georgia'
}
body{
  font-family: 'Georgia';
  height: 100%;
  background: url("/img/cloth_alike.png") repeat scroll 0% 0% transparent;
}
/*----O_o-*/

/* min width for containers to prevent maintain legibility */
.container{
  min-width: 320px;
  margin-top: 30px;
}/*----O_o-*/

/* styling bootstrap alert class */
.alert{
  margin-bottom: 0;
  position: relative;
  font-family: 'Georgia';
  margin: 0;
  border-radius: 0;
  border: 0;
}/*----O_o-*/

.jumbotron{
  background-color: #f8f8f8 !important;
}

.container .jumbotron{
  padding: 40px 10px;
}

/* styling ion-icons*/
.active-section .ion-ios-checkmark-outline, .active-section .ion-ios-pie-outline{
  font-size: 32px;
  line-height: 48px;
  vertical-align: middle;
  padding-left: 12px;
}/*----O_o-*/

/* Remove border radius in bootstrap's navbar class */
.navbar{
  border-radius: 0!important;
}/*----O_o-*/

/*^^^^^^^^^^^ end of override modifiers ^^^^^^^^^^^^^^^*/


/* stlying bootstrap's pagination class */
.pagination {
  width: auto;
}

.pagination>li>a, .pagination>li>a:hover {
  color: #333;
}

.pagination>.active>a, .pagination>.active>a:hover{
  background-color: #666;
  border-color: #666;
}
/*----O_o-*/

/*^^^^^^^^^^^ end of override modifiers ^^^^^^^^^^^^^^^*/



/*general modifiers*//*general modifiers*//*general modifiers*/
/*modifed the <hr> to be visable in a jumbotron*/
hr{
  border-color:#bbb;
}/*----O_o-*/

/*adds margin-top to any element*/
.top{
  margin-top:1em;
}
.half-top{
  margin-top:.5em;
}/*----O_o-*/

/*adds padding-bottom to any element*/
.extra-bottom{
  padding-bottom:5em;
}/*----O_o-*/

/* class to remove the margin-top on elements */
.topless{
  margin-top:0px;
}/*----O_o-*/

/*auxillary class which can be used to add blank space below any element*/
.blank-space{
	margin-bottom:2em;
}
.little-blank-space{
	margin-bottom:.6em;
}
.blank-space-2{
  margin-bottom:.3em;
}/*----O_o-*/

/*use to make responsive media links*/
.responsive-container{
   position:relative;
   width:100%;
   height:0;
   padding-bottom:51%;
}
.responsive-item {
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  top:0;
}/*----O_o-*/

/*used to add a margin-right of 6px to anything!*/
.margin-right-space{
  margin-right:6px;
}/*----O_o-*/

.twenty-one {
	font-size:21px !important;
}

/** hr with increased top bottom margins **/
.hr-large{
  margin: 60px 0
}/*----O_o-*/

/*^^^^^^^^^^^ end of general modifiers ^^^^^^^^^^^^^^^*/

.narrative{
  padding: 30px 20px;
  font-family: 'Georgia';
}

/*adjusting font-size according to the size of screen */
.narrative p, #xbbcode{
  font-size: 20px !important;
  line-height: 32px !important;
}

@media screen and (max-width: 767px){
  .narrative {
    padding: 40px 20px !important;
  }
}/*---------O_o------*/

/*override the defaults settings of <a> on the feed*/
a .jumbotron{
  color:#444;
}
a:hover .jumbotron{
  color:#222;
  background-color:#ddd;
}
a:hover{
  text-decoration: none;
}/*----O_o-*/

/* allows break-word used to keep troll-text* out of feed page
(*troll-text:text that does not fit in the jumbotron) */
.jumbotron{
  word-wrap:break-word;
}/*----O_o-*/

/* change to allow our buttons text to wrap */
.btn{
  white-space: normal !important;
  word-wrap: break-word;
}/*----O_o-*/

/*adding a small amount of space in between each answer option on the create story-page*/
.input-group{
  margin-top:5px;
}/*----O_o-*/

.narrative-create{
  height:30em !important;
}
.sceditor-container{
  width:100% !important;
}

/*making the profile-page avatar a smaller size*/
.profile-img{
  margin-top:20px;
  width:140px;
  height:140px;
}/*----O_o-*/

/* override the default padding of bootstrap */
.navbar{
  margin-bottom:00px !important;
}
 .jumbotron:first-child{
  margin-top:20px;
}/*----O_o-*/

/* override the default padding of bootstrap */
.navbar-brand{
  padding:10px;
}/*----O_o-*/

/*used to frame the error pages on 404 & 500 */
.error-page img{
  max-width: 300px;
  width:100%;
  height:100%;
}/*----O_o-*/

.buttons a {
  text-decoration: none;
}

/*Center username on profile page*/
.username{
  text-align: center;
  margin: 30px auto;
}/*----O_o-*/

/*Story title styling*/
.author-tools{
  overflow:hidden;
  background-color: #f8f8f8;
  padding:10px;
  margin:20px auto;
  border-radius: .3em;
  height:56px;
}
.author-tools h4 {
  font-family: 'georgia';
  margin-left:20px;
  color:#555;
  font-weight: 300;
}

.delete{
  font-family: 'georgia';
  background-color: transparent;
  border-radius: 0;
  height: 36px;
  width: 75px;
  display: block;
  margin-right:20px;
}
.title{
  text-align: center;
  font-family: 'Georgia';
  color: #444 !important;
  font-size: 36px !important;
  font-weight: 700;
  margin: 48px 64px;
}

@media(max-width: 560px) {
  .title{
    margin: 32px 0;
  }
  .title-bar{
    margin: 36px auto;
  }
}

.author{
  display: block;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  font-family: 'Georgia';
}

.author span{
  letter-spacing: 2px;
  font-style: italic;
  text-transform: lowercase;
}

.date{
  display: block;
  text-align: center;
  font-family: 'Georgia';
  font-weight: 400;
  color: #555;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 0;
}

.title-bar{
  width: 168px;
  margin:30px auto;
}

.narrative-bar{
  margin:40px auto;
  margin-bottom: 0;
}

#drop-cap{
  font-family: 'Baskerville';
  margin-right: 7.86px;
}
/*----O_o-*/



/* Input styling */

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input:-webkit-autofill {
  background-color: #ddd !important;
  -webkit-box-shadow: 0 0 0px 1000px #ddd inset !important;
  -webkit-text-fill-color: #222 !important;
  -webkit-text-stroke: 0 !important;
  -webkit-text: #222 !important;
  currentcolor: #222;
}

/*^^^^^^^^^^^^^^^^^^^^^  END Input Styling ^^^^^^^^^^^^^^^^^^^^^*/


@media (max-width: 767px) {
	.container {
		padding-left: 0;
		padding-right: 0;
	}
	.jumbotron {
		border-radius: 0 !important;
    background-color:#f3f3f3;
    padding:10px;
	}
}

/* *************** survey section styling **************** */
.active-section{
  display:flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  justify-content:center;
  margin-bottom: 64px;
  border-bottom: 1px solid #ddd;
  width: 390px;
  margin: 0 auto;
  margin-bottom: 64px;
}

.active-section div {
  cursor: pointer;
  width: 195px;
  height: 52px;
  line-height: 48px;
  text-align: center;
  font-family: 'Georgia';
  letter-spacing: 4px;
  text-transform: uppercase;
}

@media (max-width: 520px) {
  .active-section div{
    width: 140px;
  }
  .active-section{
    width: 290px;
  }
  .active-section .ion-ios-checkmark-outline, .active-section .ion-ios-pie-outline {
    font-size: 26px;
    padding-left: 10px;
  }
}

.vote-btn{
  margin-right: 18px;
}

.active{
  border-bottom: 3px solid #333;
  font-weight: 700;
}

.answer {
  order:2;
  -webkit-box-ordinal-group:3;
  -webkit-order:2;
  -ms-flex-order:2;
  width:50%;
  margin: 0 16px;
  line-height:1;
  text-align:left;
  padding-left: 8px;
  padding-right:8px;
  font-size: 18px;
}
/*.results-header {
  font-family: 'Georgia';
  text-align: center;
}

.results-header div:nth-child(1){
  font-size: 32px;
}

.results-header div:nth-child(2){
  font-size: 14px;
}*/
.results-section .title-bar{
  margin-bottom: 0;
}

.data{
  font-size:36px;
  order:3;
  -webkit-box-ordinal-group:4;
  -webkit-order:3;
  -ms-flex-order:3;
  text-align:left;
  font-weight:400;
  margin-left:auto;
}

.percent{
  font-size: 32px;
  line-height: 32px;
}

.vote-count{
  font-size: 14px;
  line-height: 14px;
  text-align: right;
}

.question-title{
  font-family: 'Georgia';
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  width: 300px;
  margin: 0 auto;
  line-height: 1.25;
}

@media (max-width: 320px) {
  .dataPoint{
    width:100%;
  }
  .question-title{
    width: 290px;
  }
}

.circle{
  color: white;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  vertical-align: top;
  font-size: 18px;
  line-height: 30px;
  float: left;
}
.circle span{
  display: block;
  text-align: center;
}
.answer-text{
  width: 80%;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
}

@media screen and (max-width: 380px){
  .answer-text{
    width: 72%;
  }
}

.survey-button .glyphicon-ok{
  line-height: 30px;
  display: none;
}
.survey-button{
  font-family: 'Georgia';
  margin: auto;
  padding: 10px;
  border: 1px solid #777;
  margin-bottom: 6px;
  max-width: 480px;
  background-color: transparent;
  display: block;
  width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer !important;
}

.survey-button .circle{
  color: white;
}
.survey-button:hover .answer-text{
  color: white;
}
.survey-button:hover .circle{
  background-color: white;
}
.survey-button:hover .circle span:nth-child(1){
  display: none;
}
.survey-button:hover .glyphicon-ok{
  display: block;
}

.answer-options{
  width: 300px;
  margin: 0 auto;
}

@media (min-width: 750px) {
  .answer-options{
    width: 478px;
  }
}

.answer-options:nth-child(1) .circle{
  background-color: #283a90;
}
.answer-options:nth-child(1) .survey-button{
  border-bottom: 6px solid #182357;
}
.answer-options:nth-child(1) .survey-button:hover{
  background-color: #283a90;
  border: 1px solid #283a90;
  border-bottom: 6px solid #182357;
}
.answer-options:nth-child(1) .survey-button:hover .circle{
  background-color: white;
  color: #283a90;
}


.answer-options:nth-child(2) .circle{
  background-color: #d7821e;
}
.answer-options:nth-child(2) .survey-button{
  border-bottom: 6px solid #9e5f16;
}
.answer-options:nth-child(2) .survey-button:hover{
  background-color: #d7821e;
  border: 1px solid #d7821e;
  border-bottom: 6px solid #9e5f16;
}
.answer-options:nth-child(2) .survey-button:hover .circle{
  background-color: white;
  color: #d7821e;
}

.answer-options:nth-child(3) .circle{
  background-color: #6d54b6;
}
.answer-options:nth-child(3) .survey-button{
  border-bottom: 6px solid #4b397d;
}
.answer-options:nth-child(3) .survey-button:hover{
  background-color: #6d54b6;
  border: 1px solid #6d54b6;
  border-bottom: 6px solid #4b397d;
}
.answer-options:nth-child(3) .survey-button:hover .circle{
  background-color: white;
  color: #6d54b6;
}

.answer-options:nth-child(4) .circle{
  background-color: #32a779;
}
.answer-options:nth-child(4) .survey-button{
  border-bottom: 6px solid #216e4f;
}
.answer-options:nth-child(4) .survey-button:hover{
  background-color: #32a679;
  border: 1px solid #32a679;
  border-bottom: 6px solid #216e4f;
}
.answer-options:nth-child(4) .survey-button:hover .circle{
  background-color: white;
  color: #32a779;
}

.answer-options:nth-child(5) .circle{
  background-color: #c4606a;
}
.answer-options:nth-child(5) .survey-button{
  border-bottom: 6px solid #8c454c;
}
.answer-options:nth-child(5) .survey-button:hover{
  background-color: #c4606a;
  border: 1px solid #c4606a;
  border-bottom: 6px solid #8c454c;
}
.answer-options:nth-child(5) .survey-button:hover .circle{
  background-color: white;
  color: #c4606a;
}

.dataPoint{
  padding:0;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  width: 300px;
  text-align:center;
  color:#555;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-famiy: Georgia;
  border-top:1px solid #CCC;
  margin: 0 auto;
  padding: 8px 0;
}
.rank{
  order:1;
  -webkit-box-ordinal-group:2;
  -webkit-order:1;
  -ms-flex-order:1;
  background: #333;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  font-size: 12px;
}
.votes-storyView{
  float:left;
  width:70%;
  margin-left:.3em;
  border-radius:0em 1em 1em 0em;
  padding:.1em 1em;
  background-color:white;
  text-align:center;
  border:1px solid #ccc;
}
.dataPoint:first-child{
  border-top: 0;
}

.pie-results{
  margin-top: 6px;
  font-family: 'Georgia';
}

#dataPoint1 .rank{
  background-color: rgba(40, 58, 144, .8);
}
#dataPoint2 .rank{
  background-color: rgba(215, 130, 30, .8);
}
#dataPoint3 .rank{
  background-color: rgba(109, 84, 182, .8);
}
#dataPoint4 .rank{
  background-color: rgba(50, 167, 121, .8);
}
#dataPoint5 .rank{
  background-color: rgba(196, 96, 106, .8);
}

.pie{
  width:270px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* *************** END survey button styling **************** */


/* CAPTCHA styling */
.g-recaptcha iframe{
  margin: 0 auto;
  margin-bottom:5px;
  display: block;
}
.g-recaptcha div{
  width: auto !important;
  height: auto !important;
}
/* END CAPTCHA styling */

/* TITLE BANNER */

@media (max-width: 767px){
  .header {
    padding: 0 16px;
  }
}

.header{
  text-align: left;
  background-color: #f3f3f3;
  border-bottom: 1px solid #ddd;
}

.header h1{
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -1px;
  color: #444;
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin: 0;
  line-height: 55px;
}

.header a{
  text-align: center;
  color: #444;
  transition: all 100ms ease-in-out;
}

.header a:hover{
  color: #000;
}

.header h1 a:hover{
  color: #777;
}

.header a:focus{
  text-decoration: none;
  outline: 0;
}

.header button{
  text-align: left;
  background-color: transparent;
  border: 0;
  padding: 0;
  width: 100%;
}

.header button:hover{
  color: #777;
}

.header form{
  display: inline;
}

.cta{
  background: #f3f3f3;
  position: relative;
  text-align: center;
  margin: 24px auto;
  border: 1px solid #ddd;
  padding-bottom: 24px;
  max-width: 500px;
  padding: 48px 24px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  transform: translate(0px, 0px);
}

.plus{
  padding: 0 6px 0 4px;
  line-height: 48px;
  font-size: 24px;
  position: relative;
  top: -10px;
}

.cta .ion-ios-pie-outline{
  font-size: 42px;
  line-height: 48px;
}

.cta .ion-ios-book-outline{
  position: relative;
  top: 2px;
  font-size: 48px;
  line-height: 48px;
}

.ion-ios-close-empty{
  position: absolute;
  right: 20px;
  top: 8px;
  font-size: 36px;
  line-height: 36px;
  color: #bbb;
  cursor: pointer;
}

.ion-ios-close-empty:hover{
  color: #222;
}
.cta h3{
  font-style: italic;
  font-size: 32px;
  letter-spacing: -1px;
  line-height: 32px;
  color: #444;
  margin: 18px auto
}

.cta p{
  color: #333;
}

.cta button{
  margin: 16px auto 0;
  text-align: center;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 0;
  font-size: 14px;
  background-color: #333;
  color: white;
  height: 50px;
  width: 100px;
}

.ion-ios-arrow-thin-up, .ion-ios-arrow-thin-right{
  display: none;
}
.cta button:hover span, .form button:hover span{
  display: none;
}
.cta button:hover .ion-ios-arrow-thin-up, .form button:hover .ion-ios-arrow-thin-right{
  display: block;
  font-size: 28px;
}
/* END TITLE BANNER*/

/* FEED */
.category{
  line-height: 55px;
  border-bottom: 4px solid black;
  color: #555;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  height: 55px;
  display: inline-block;
  margin-bottom: 18px;
}

.feed-item{
  background-color: #f3f3f3;
  word-wrap: break-word;
  font-family: 'Georgia';
  margin: 0 auto;
  border: 1px solid #ddd;
  padding: 24px;
  text-align: center;
  margin-bottom: 18px;
  width: 280px;
}

.feed-item h4{
  color:#333;
  font-weight: 700;
  margin-bottom:18px;
}

.feed-item h6{
  font-style: italic;
}

.feed-item h6 span{
  font-size: 12px;
  margin-top: 8px;
  display: block;
}

.feed-author span:nth-child(1){
  font-style: italic;
}

.feed-author span:nth-child(2){
  text-transform: uppercase;
  margin-left: 4px;
  letter-spacing: 1px;
}

.feed-item div{
  width: 60px;
  border-bottom: 1px solid #666;
  margin: 16px auto;
}

.feed-author{
  margin-bottom: 3px;
}
.feed-item h5:nth-child(5){
  margin:0;
}
.feed a{
  color:#222;
  display: inline-block;
}

.feed{
  text-align: center;
}

.feed a:hover .feed-item h4{
  color: #777;
}

.feed a:visited{
  text-decoration: none;
}

.feed a:focus{
  text-decoration: none;
  outline: 0;
}

@media (min-width: 400px) {
  .feed-item h4{
    font-size: 25px;
  }
  .feed-item h6{
    font-size: 14px;
  }
}

@media (min-width: 460px) {
  .feed-item {
    width:440px;
    padding:38px;
  }
}

@media (min-width: 768px) {
  .feed-item {
    width:700px;
    padding:50px 50px;
    margin-bottom:32px;
  }
  .cta {
    margin: 32px auto;
  }
  .feed-item h6 {
    margin-top:22px;
  }
}

/* END FEED */

/* SIGNUP & LOGIN */
.legal{
  color: #777;
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 250px;
}
.form{
  margin:30px auto;
  font-family: 'georgia';
}
.form h1{
  text-align: center;
  font-style: italic;
  font-size: 52px;
  letter-spacing: -1px;
  margin-top: 0;
  padding-top: 20px;
}

.form h5{
  text-align: center;
  width: 240px;
  margin: 0 auto;
  margin-bottom: 24px;
  font-size: 18px;
}

.form form input{
  width: 300px;
  margin: auto;
  background-color: transparent;
  border: 1px solid #777;
  color: #333;
  font-size: 16px;
  height: 42px;
  padding: 12px 12px;
  display: block;
  text-align: left;
  margin-bottom: 8px;
  border-radius: 0;
  border-style:solid;
  -webkit-appearance: none;
}

.form form button{
  background-color: #333;
  display: block;
  margin: 0 auto;
  color: white;
  height: 48px;
  width: 300px;
  border: 0;
  margin-top: 28px;
}
/* END SIGNUP & LOGIN */

/* Center boostrap's pagination class */
.pagination-container{
  text-align: center;
}
/*----O_o-*/

/* SHARE BUTTONS */
.share-jumbotron{
  font-family: 'georgia';
  margin-top:5em;
  margin-bottom:5em;
  padding: 16px 0;
  display:block;
  margin-left:auto !important;
  margin-right:auto !important;
  text-align: center;
}
.share-jumbotron h4 {
   display:inline-block;
   margin-right:5px;
}
.share-icon {
  margin-right: .17em;
  margin-left: .17em;
}
.share-icon:hover{
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
.share-icon img{
  width:40px;
}/*-----O_o--*/

/* Menu */
.ion-person{
  cursor: pointer;
  text-align: center;
  border: 1px solid #aaa;
  position: absolute;
  top: 9px;
  right: 23px;
  font-size: 21px;
  border-radius: 50%;
  height: 33px;
  width: 33px;
  color: #555;
}

.header-btn-story{
  top: 11px;
  right: 80px;
}

.header-btn-login{
  top: 11px;
  right: 16px;
  width: 64px;
}

.header-btn-signup{
  top: 11px;
  right: 87px;
  width: 64px;
}

.header-btn-story, .header-btn-login, .header-btn-signup{
  padding: 5px 10px;
  border: 1px solid #aaa;
  border-radius: 10px;
  color: #AAA;
  position: absolute;
}

.header-btn-story:hover, .header-btn-login:hover, .header-btn-signup:hover, .ion-person:hover{
  color: #444;
  border-color: #444;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #f3f3f3;
  position: absolute;
  top: -8px;
  right: 19px;
}

.profile-menu-desktop{
  display: none;
  margin: 0;
  padding: 0;
  width: 230px;
  background-color: #f3f3f3;
  box-shadow: 0 0 10px #ddd;
  position: absolute;
  top: 66px;
  right: 12px;
  z-index: 1;
}

.profile-menu-mobile{
  background-color: transparent;
  display: none;
}

.profile-menu-desktop ul, .profile-menu-mobile ul{
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
}

.profile-menu-desktop li, .profile-menu-mobile li{
  font-size: 16px;
  text-align: left;
  color: rgba(0,0,0,.6);
}

.profile-menu-desktop li{
  padding: 6px 25px;
}

.profile-menu-mobile li{
  padding: 6px 18px;
}

.profile-menu-desktop li:hover{
  color: #222;
}
.profile-menu-mobile li:hover{
  color: #000;
}

@media (max-width: 767px) {
  .profile-menu-desktop{
    display: none !important;
  }
}

@media (min-width: 768px) {
  .profile-menu-mobile{
    display: none !important;
  }
}

@media (max-width: 400px) {
  .header-btn-story {
    right: 66px;
  }
}

/* Change Password Form */

.change-pass-form h1{
  font-size: 36px;
}

/* MODAL */
.overlay{
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position:fixed;
  background: rgba(0,0,0,.5);
  cursor:pointer;
  display: none;
  z-index: 1;
  overflow: auto;
}

.modal-custom{
  margin: 0 auto;
  cursor: auto;
  width: 280px;
  height: 500px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-height: 565px) {
  .modal-custom{
    position: static;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    display: block;
    margin:30px auto;
  }
}
@media(max-width: 320px) {
  .form form button{
    width: 240px;
  }
  .form form input{
    width: 240px;
  }
}

@media (min-width: 400px) {
  .modal-custom{
    width: 315px;
  }
  .form form button{
    width: 270px;
  }
  .form form input{
    width: 270px;
  }
}
/* END MODAL */
